<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td class="status-cell" mat-cell *matCellDef="let element"> {{
      element.status === 'PENDING' ? 'Pendiente' :
      element.status === 'APPROVED' ? 'Aprobado' :
      element.status === 'REJECTED' ? 'Rechazado' :
      element.status === 'REGISTERED' ? 'Registrado' :
       'No Aplica'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Fecha de Registro">
    <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
    <td mat-cell *matCellDef="let element"> {{element.registerDate ? (element.registerDate | date:'dd/MM/yyyy HH:mm') : 'No Aplica'}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.isNational ? 'Nacional' : 'Internacional'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Nombre del Proyecto">
    <th mat-header-cell *matHeaderCellDef> Nombre del Proyecto </th>
    <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Motivo del Viaje">
    <th mat-header-cell *matHeaderCellDef> Motivo del Viaje </th>
    <td mat-cell *matCellDef="let element"> {{element.tripReason}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Fecha de Invitación">
    <th mat-header-cell *matHeaderCellDef> Fecha de Invitación </th>
    <td mat-cell *matCellDef="let element"> {{element.invitationTrip ? (element.invitationTrip | date:'dd/MM/yyyy') : 'No Aplica'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Solicitante">
    <th mat-header-cell *matHeaderCellDef> Solicitante </th>
    <td mat-cell *matCellDef="let element"> {{element.requester}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Fecha de Viaje">
    <th mat-header-cell *matHeaderCellDef> Fecha de Viaje </th>
    <td mat-cell *matCellDef="let element"> {{element.dateTrip ? (element.dateTrip | date:'dd/MM/yyyy') : 'No Aplica'}} </td>
  </ng-container>
  <ng-container matColumnDef="Acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="openConfirmationDialog('approve', element)">Aprobar</button>
      <button mat-button color="warn" (click)="openConfirmationDialog('reject', element)">Rechazar</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

